header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header .content nav ul {
  justify-content: flex-end;
}

header .content nav ul li a {
  color: var(--color-gray-blue);
}

header .content nav ul li a.active {
  color: var(--color-cyan);
}

header .content nav ul li a:hover:not(.active) {
  background-color: var(--color-gray-blue);
  color: var(--color-very-light-gray);
}

header {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-very-light-gray);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-gray-blue);
}

header .content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a.logo {
  align-items: center;
  text-decoration: none;
  color: var(--color-gray-blue);
}
