.contact-cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  padding-top: 50px;
}

.contact-cta h2 {
  text-align: left;
  max-width: 60ch;
}

.contact-cta hr {
  border: none;
  border-top: 1px solid var(--color-gray-blue);
  width: 100%;
  margin: auto 1.5rem;
  opacity: 0.15;
}

.contact-cta button {
  min-width: fit-content;
}

@media (max-width: 767px) {
  .contact-cta {
    flex-direction: column;
    gap: 1.5rem;
  }

  .contact-cta h2 {
    margin-bottom: 5px;
    text-align: center;
  }

  .contact-cta hr {
    display: none;
  }
}
