footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

footer nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer .social-links ul li a {
  display: block;
  text-align: center;
  padding: 0.75em;
  text-decoration: none;
}

footer .social-links {
  margin-left: auto;
}

footer nav {
  margin-left: 1rem;
}

footer nav ul li.right {
  justify-self: right;
}

footer nav ul li.left {
  justify-self: left;
}

footer .content nav ul li a {
  color: var(--color-very-light-gray);
}

footer .content nav ul li a:hover {
  background-color: var(--color-very-light-gray);
  color: var(--color-gray-blue);
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-gray-blue);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-very-light-gray);
}

footer .content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

footer .content a.icon {
  align-items: center;
  text-decoration: none;
  color: var(--color-very-light-gray);
}

@media screen and (max-width: 600px) {
  .social-links {
    margin-left: auto;
    margin-right: auto;
  }
  footer .content {
    flex-direction: column;
  }
  footer nav {
    margin: 0;
  }
  footer nav ul {
    flex-direction: column;
  }
}
