:root {
  --color-cyan: hsl(167, 36%, 54%);
  --color-dark-blue: hsl(205, 41%, 21%);
  --color-gray-blue: hsl(245, 10%, 22%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-light-gray: hsl(240, 2%, 92%);
  --color-bright-red: hsl(0, 90%, 57%);
}

#root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: var(--color-very-light-gray);
  color: var(--color-gray-blue);
  font-family: "Public Sans", sans-serif;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* START NAVIGATION BARS */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li.right {
  justify-self: right;
}

nav ul li.left {
  justify-self: left;
}

header .content nav ul {
  justify-content: flex-end;
}

header .content nav ul li a {
  color: var(--color-gray-blue);
}

header .content nav ul li a.active {
  color: var(--color-cyan);
}

header .content nav ul li a:hover:not(.active) {
  background-color: var(--color-gray-blue);
  color: var(--color-very-light-gray);
}

footer .content nav ul li a {
  color: var(--color-very-light-gray);
}

footer .content nav ul li a:hover {
  background-color: var(--color-very-light-gray);
  color: var(--color-gray-blue);
}

header {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-very-light-gray);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-gray-blue);
}

header .content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a.logo {
  align-items: center;
  text-decoration: none;
  color: var(--color-gray-blue);
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-gray-blue);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-very-light-gray);
}

footer .content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .content a.logo {
  align-items: center;
  text-decoration: none;
  color: var(--color-very-light-gray);
}

@media screen and (max-width: 600px) {
  nav ul li.right,
  nav ul li {
    float: none;
  }
}

/* END NAVIGATION BARS */

/* START TYPOGRAPHY */

h1 {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.45px;
}

h2 {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 105%;
  letter-spacing: -0.357143px;
}

h3 {
  font-family: "Ibarra Real Nova", serif;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.285714px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
}

p .secondary-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
}

/* START BUTTONS */

button {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0px;
}

.primary-btn {
  background-color: var(--color-dark-blue);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 0;
}

.primary-btn .icon {
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  color: var(--color-cyan);
  height: 100%;
  margin-right: 20px;
  padding: 15px;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.primary-btn:hover {
  background-color: var(--color-cyan);
}

.primary-btn:hover .icon {
  color: white;
}

.primary-btn .disabled {
  background-color: var(--color-light-gray);
  cursor: not-allowed;
}

.secondary-btn {
  background-color: transparent;
  color: var(--color-gray-blue);
  border: 2px solid var(--color-gray-blue);
  padding: 0.75rem 1.5rem;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: fit-content;
}

.secondary-btn:hover {
  background-color: var(--color-gray-blue);
  color: var(--color-very-light-gray);
  border: 2px solid var(--color-gray-blue);
}

.secondary-btn .disabled {
  border-color: var(--color-light-gray);
  color: var(--color-light-gray);
  cursor: not-allowed;
}
/* END BUTTONS */
